<template>
  <div class="history-page">
    <History/>
  </div>
</template>

<script>

import History from '@/components/History.vue'

export default {
  name: 'History_page',
  components: {
    History
  }
}
</script>