<template>
  <div class="main">
    <ElementsLists/>
    <InitialData/>
  </div>
</template>

<script>

import ElementsLists from '@/components/ElementsLists.vue'
import InitialData from '@/components/InitialData.vue'

export default {
  name: 'Main_page',
  components: {
    ElementsLists,
    InitialData,
  }
}
</script>
