<template>
  <div class="elements-lists">
    <p>Фильтр</p>
    <input v-model="filter_name" />

    <div class="wrapper">
      <div>
        <h3>Список 1</h3>
        <ul class="list" v-if="filteredList">
          <li v-for="el in filteredList" :key="el.id" class="list-item">
            <p>{{el.id}} {{ el.name }}</p>
            <span @click="toRight(el.id)" class="button-icon">+</span>
          </li>
        </ul>
      </div>

      <div>
        <h3>Список 2</h3>
        <ul class="list" v-if="sortedSelectedList">
          <li v-for="el in sortedSelectedList" :key="el.id" class="list-item">
            <p>{{el.id}} {{ el.name }}</p>
            <span @click="toLeft(el.id)" class="button-icon">-</span>
          </li>
        </ul>
      </div>
    </div>

  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "ElementsLists",
  data: function() {
    return {
      filter_name: ""
    };
  },
  computed: {
    filteredList() {
      return this.$store.getters.filteredList(this.filter_name);
    },
    sortedSelectedList() {
      return this.$store.getters.sortedSelected;
    },
    ...mapState({
      list: state => state.list,
      selected_list: state => state.selected_list,
    })
  },
  created: function() {
    if(!this.filteredList.length){
      this.$store.dispatch("getPosts");
    }
  },
  methods: {
    toRight(key) {
      this.$store.dispatch({
        type: 'toRight',
        id: key
      });
    },
    toLeft(key) {
      this.$store.dispatch({
        type: 'toLeft',
        id: key
      });
    }
  }
};
</script>

<style scoped>
input{
  border-radius: 3px;
  height: 30px;
  padding: 0 20px;
  border: 1px solid #666;
}

.elements-lists{
  text-align: center;
}

.wrapper{
  display: flex;
  justify-content: space-evenly;
}

.list {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0 50px;
  width: 300px;
}

.list-item {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin{
  margin-top: 40px;
}

.button-icon{
  display: inline-flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.button-icon:hover{
  background: #42b983;
}
</style>
