<template>
  <div class="history-list">
    <div class="wrapper">
      <div>
        <h3>История</h3>
        <ul class="list" v-if="historyList">
          <li v-for="el in historyList" :key="el.id" class="list-item">
            <p>{{el.item.id}} {{ el.item.name }} {{ el.type | toWord }} в {{ el.date | formatdate }}</p>
          </li>
        </ul>
      </div>
    </div>

  </div>
</template>

<script>

export default {
  name: "History",
  data: function() {
    return {
    };
  },
  computed: {
    historyType() {
      return this.$route.params.type
    },
    historyList() {
      return this.$store.getters.historyListByType(this.historyType);
    },
  },
  filters: {
    formatdate: function (date) {
      if (!date) return '';
      let d = new Date(date);
      return d.getHours() +'ч.'+d.getMinutes() + 'м.'+d.getSeconds()+'с';
    },
    toWord: function (type) {
      if(!type) return '';
      if(type == 'add'){
        return 'добавлено'; 
      }
      if(type == 'del'){
        return 'удалено';
      }
    }
  }
};
</script>

<style scoped>

.history-list{
  text-align: center;
}

.wrapper{
  display: flex;
  justify-content: center;
}

.list {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0 50px;
  width: 300px;
}

.list-item {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

</style>
