<template>
  <div class="initial-data">
    <div v-if="list">
      <p class="margin">Исходные данные</p>
      <ol>
        <li v-for="el in list" :key="el.id">
          {{ el.name }}
          <ul>
            <li v-for="s_el in el.items" :key="s_el.id">{{ s_el.name }}</li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "InitialData",
  computed: {
    ...mapState({
      list: state => state.list
    })
  },
};
</script>

<style scoped>

</style>
